body {
    width: 1280px;
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
}

#left-news {
    float: left;
}

#left-top-news {
    display: inline-block;
    background-color: #ffffff;
    min-height: 140px;
    width: 240px;
    margin: 20px 0 0 0;
}

#left-top-news div.title {
    background: #4da23f;
    color: #fff;
    font: bold 16px/44px Arial;
    padding: 0 5px 0 15px;
    text-transform: uppercase;
    height: 44px;
}

#left-top-news div span span.block-title-icon {
    background: url(/resources/images/common/background1.png) no-repeat scroll -50px 0;
    display: block;
    float: left;
    height: 22px;
    margin: 11px 16px 0 0;
    width: 22px;
}

#left-bottom-news {
    background-color: #ffffff;
    min-height: 640px;
    width: 240px;
    margin: 20px 0 20px 0;
}

#left-bottom-news div.title {
    background: #4da23f;
    color: #fff;
    font: bold 16px/44px Arial;
    padding: 0 5px 0 15px;
    text-transform: uppercase;
    height: 44px;
}

#left-bottom-news div span span.block-title-icon {
    background: url(/resources/images/common/background1.png) no-repeat scroll -72px 0;
    display: block;
    float: left;
    height: 25px;
    margin: 10px 13px 0 0;
    width: 25px;
}

#center {
    background-color: #ffffff;
    padding: 15px;
}

#middle-news {
    float: left;
    margin: 20px 0 0 20px;
    display: inline-block;
    background-color: #ffffff;
    width: 502px;
    min-height: 640px;
}

#matches-result {
    float: left;
    display: inline-block;
    margin: 20px 0 0 20px;
    background-color: #ffffff;
    width: 303px;
    min-height: 440px;
}

#matches-result div.title {
    background: #4da23f;
    color: #fff;
    font: bold 16px/44px Arial;
    padding: 0 5px 0 15px;
    text-transform: uppercase;
    height: 44px;
}

#matches-result div span span.block-title-icon {
    background: url(/resources/images/common/background1.png) no-repeat scroll -22px 0;
    display: block;
    float: left;
    height: 18px;
    margin: 13px 10px 0 0;
    width: 28px;
}

#match-detail {
    width: 100%;
    float: left;
}

#match-detail .home-img {
    margin-top: 24px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -110px;
}

#match-detail .away-img {
    margin-top: 54px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -110px;
}

#match-detail .hover:hover {
    background-color: rgb(222, 242, 223);
    cursor: hand;
}

#match-detail .date {
    width: 34%;
    margin: 5px auto;
}

#match-detail .l {
    background: url(/resources/images/common/background1.png) no-repeat scroll -150px 0;
    float: left;
    height: 19px;
    width: 6px;
}

#match-detail .m {
    text-align: center;
    background: #FF9E23;
    color: #fff !important;
    font: 12px/20px Arial;
    height: 19px;
    float: left;
    width: 91px;
}

#match-detail .r {
    background: url(/resources/images/common/background1.png) no-repeat scroll -159px 0;
    float: left;
    height: 19px;
    width: 6px;
}

#match-detail .match-info {
    width: 100%;
    height: 80px;
}

#match-detail .time {
    margin-top: 30px;
    margin-left: -170px;
    background: transparent url(/resources/images/common/background1.png) no-repeat scroll -216px -21px;
    color: #ffffff;
    float: left;
    font: 12px/20px Arial;
    height: 19px;
    text-align: center;
    width: 50px;
}

.match-info img {
    margin-top: -35px;
    margin-right: 30px;
    float: right;
}

#match-detail .home-team {
    padding-left: 115px;
    padding-top: 25px;
}

#match-detail .away-team {
    padding-top: 10px;
    padding-left: 115px
}

#match-detail a {
    cursor: hand;
    color: #5e5e5e;
}

#match-detail .home-score {
    margin-top: -50px;
    margin-right: 32px;
    float: right;
    color: #029600;
    font-weight: bold;
}

#match-detail .away-score {
    margin-right: 32px;
    margin-top: -20px;
    float: right;
    color: #029600;
    font-weight: bold;
}

#table {
    float: right;
    display: inline-block;
    margin: 20px 194px 0 20px;
    background-color: #ffffff;
    width: 303px;
    min-height: 440px;
}

#table div.title {
    background: #4da23f;
    color: #fff;
    font: bold 16px/44px Arial;
    padding: 0 5px 0 15px;
    text-transform: uppercase;
    height: 44px;
}

.table-content {
    margin-top: 13px;
    margin-bottom: 12px;
    width: 100%;
}

.table-content .name {
    width: 142px;
}

.table-content a {
    color: #029600;
}

.table-content .header {
    color: #ffffff;
    font: bold 12px/15px Arial;
    padding: 11px 4px 9px !important;
    text-align: center;
}

.table-content .color {
    background-color: #f6f6f6;
}

.table-content td {
    color: #5e5e5e;
    font: 12px/14px Arial;
    padding: 4px 3px;
    vertical-align: middle;
    text-align: center;
}

.table-content .team-name {
    text-align: left;
}

.table-content .points {
    color: #029600;
}

#table tr.green {
    background-color: #62ca52;
    color: #fff;
    font-weight: bold;
}

#table div span span.block-title-icon {
    background: url(/resources/images/common/background1.png) no-repeat scroll -22px -23px;
    display: block;
    float: left;
    height: 25px;
    margin: 9px 10px 0 0;
    width: 28px;
}

#tournaments {
    float: right;
    display: inline-block;
    margin: 20px 0 0 20px;
    background-color: #ffffff;
    width: 175px;
    min-height: 253px;
}

#tournaments div.title {
    background: #4da23f;
    color: #fff;
    font: bold 16px/44px Arial;
    padding: 0 5px 0 15px;
    text-transform: uppercase;
    height: 44px;
}

#tournaments div span span.block-title-icon {
    background: url(/resources/images/common/background1.png) no-repeat scroll -22px -25px;
    display: block;
    float: left;
    height: 26px;
    margin: 10px 10px 0 0;
    width: 28px;
}

#tournaments ul.menu {
    padding: 10px 0 0 10px;
}

#tournaments ul li {
    list-style: outside none none;
}

#tournaments ul li div.menu-item {
    cursor: pointer;
    text-decoration: none;
}

#tournaments ul li div.menu-item:hover {
    background: url(/resources/images/common/background1.png) no-repeat scroll 0 -177px;
    height: 21px;
}

#tournaments ul li div div.login-content {
    margin-left: 10px;
}

#tournaments ul li ul li {
    color: #4da23f;
    cursor: pointer;
}

#tournaments ul li ul li:hover {
    text-decoration: underline;
}

#tournaments ul li span.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

#tournaments ul li span.germany {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 0;
}

#tournaments ul li span.russia {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 -16px;
}

#tournaments ul li span.lc {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 -32px;
}

#tournaments ul li span.le {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 -48px;
}

#tournaments ul li span.england {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 -64px;
}

#tournaments ul li span.spain {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 -80px;
}

#tournaments ul li span.italy {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 -96px;
}

#tournaments ul li span.ukraine {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 -112px;
}

#tournaments ul li span.france {
    background: url(/resources/images/common/icons.png) no-repeat scroll 0 -128px;
}

.article {
    border-bottom: 1px solid #e6e6e6;
    font: 12px/18px Arial;
    padding: 15px 10px 15px 10px !important;
    width: 502px;
}

.field_image {
    float: left;
    margin: 0 15px 0 0;
}

.article .title {
    font: bold 14px/22px Arial;
    margin: -5px 0 0;
}

.article .title a {
    color: #66b359;
}

.article .text {
    color: #000000;
    font: 12px/18px Arial;
    margin: 5px 0 0;
}

.article .created {
    padding-top: 7px;
    clear: left;
    color: #5e5e5e;
    font: 12px/18px Arial;
    width: 100%;
}

.article .created span.time {
    background: transparent url(/resources/images/common/bg_crt.png) no-repeat scroll left center;
    padding-left: 18px;
}

.article .created span.commentaries {
    background: transparent url(/resources/images/common/bg_scm.png) no-repeat scroll left 1px;
    color: #66b359;
    margin-left: 7px;
    padding-left: 17px;
}



